# Django settings
DJANGO_SECRET_KEY=gere-uma-chave-forte-aqui
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=monitorias.andops.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://monitorias.andops.com.br
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True

# Postgres (RDS)
POSTGRES_DB=monitorias
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sua-senha-aqui
POSTGRES_HOST=seu-endpoint-rds.amazonaws.com
POSTGRES_PORT=5432
