# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
env/
.Python

# Environment files
.env
.

# Django artifacts
db.sqlite3
staticfiles/
media/

# Logs and temporary files
*.log
*.swp
*~
.DS_Store

# IDEs
.vscode/
.idea/

DEPLOY.md

DOCUMENTACAO_TECNICA.md